<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 要设置是实现接口的具体包名加类名, ArticleMapper.xml和ArticleMapper这个interface关联起来，目的是，要实现的接口是谁，
    就写谁的名字-->
<mapper namespace="com.example.demo.mapper.ArticleMapper">
    <!-- 直接写BaseMap，不用担心重名的问题，因为是调用当前xml的文件。如果调用其它BaseMap，那么就把package的名字给加上
    BaseMap给ArticleInfo来做映射的-->
    <resultMap id="BaseMap" type="com.example.demo.model.ArticleInfo">
        <!--所有attributes都要做mapping,column是数据库里的field，property是对象的属性名-->
        <id column="id" property="id"></id>

        <!--所有字段都要做mapping-->
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="createtime" property="createtime"></result>
        <result column="updatetime" property="updatetime"></result>
        <result column="uid" property="uid"></result>
        <result column="rcount" property="rcount"></result>
        <result column="state" property="state"></result>
        <!--userInfo不是字段，无法映射,需要用到<association>,用于关联隐射
        在ArticleMapper里面的property属性名userInfo,关联的对象是谁，用resultMap来映射-->
        <association property="userInfo"
                     resultMap="com.example.demo.mapper.UserMapper.BaseMap"
                     columnPrefix="u_"></association>
    </resultMap>


    <select id="getArticleById" resultMap="BaseMap">
        <!--写a.id=#{id} 表明是article表里面的id。但是如果没有<association>的时候，userInfo还是null -->
        <!--两表出现相同字段：可以加columnPrefix="u_", query这么写：
        select a.*,u.username u_username from articleinfo a left join userinfo u on a.uid=u.id
        where a.id=#{id}
        数据库命名都小写，因为linux服务器的缘故-->
        select a.*,u.id u_id, u.username u_username, u.password u_password from articleinfo a left join userinfo u on a.uid=u.id
        where a.id=#{id}
    </select>

    <!--foreach标签的使用，批量删除-->

</mapper>
        <!--和Interface一样的名字，所以叫userMapper -->
        <!-- reference URL:
        https://mybatis.org/mybatis-3/sqlmap-xml.html#:~:text=select%20The%20select%20statement%20is%20one%20of%20the,update%20or%20delete%2C%20there%20are%20probably%20many%20selects.-->
