<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 将一个对象user存储到spring容器中,id 就是beanName，Map<String[beanName], Object> e.g. user, User -->

    <bean id="userInfo" class="com.beans.User"></bean>

    <bean id="article" class="com.beans.Article"></bean>

</beans>